<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12Apl">
        <ion-card>

          <ion-card-content>
            <ion-avatar>
              <img [src]="user.picture.medium">
            </ion-avatar>
            <h1>{{ user.name.first }} {{ user.name.last }}</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut
            magna iaculis, maximus ligula et, luctus sem.
            Duis consectetur eros nec quam suscipit malesuada.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
